<div class="row">
  <div class="col-md-8">
    <strong>{{article.snippet}}</strong>
      <ul><li>{{article.source}}</li>
          <li>{{moment-format article.pub_date "MMMM Do YYYY, h:mm a"}}</li>
      </ul>
  </div>

  <div class="col-md-4">
    <img src={{imgUrl}}>
  </div>
</div>
<hr>
